@model IEnumerable<GestionaleQuadri.Models.Commesse>
@* IEnumerable è un' interfaccia' *@
@{
    ViewData["Title"] = "Index";
}

<h2>Commesse anno</h2>

@{
    List<Commesse> anni = Model.DistinctBy(emp => emp.Anno).ToList();
}



<ul>

    @foreach (Commesse item in anni)
    {
        <li>
            <h1 class="anno_commessa pointer testo-blu" id="@item.Anno">@item.Anno</h1>
        </li>

        var aziende = Model.Where(x => x.Anno.ToString() == item.Anno.ToString());

        <ul class="lista-aziende" id="lista-aziende-anno-@item.Anno">
            @foreach (var azienda in aziende)
            {
                <li class="azienda_anno pointer testo-blu" id="@azienda.azienda-@item.Anno">
                    <h5>@azienda.nome_azienda</h5>
                </li>
            }
        </ul>

        <br />

        @* <h2>@Html.ActionLink(@item.Anno, "Elenco", new { id = item.Anno })</h2> *@
    }


</ul>




<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h2 id="modal-header">Modal Header</h2>
            <span class="close" id="close-commessa">&times;</span>
        </div>
        <div>
            <select class="form-control form-control-sm" id="filter-commesse">
            </select>
        </div>
        <div class="modal-body" id="modal-body">

        </div>

    </div>

</div>

<!-- The Modal -->
<div id="myModalDettagli" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h2 id="modal-header-dettagli">Modal Header</h2>
            <span class="close" id="close-dettagli">&times;</span>
        </div>

        <div class="modal-body" id="modal-body-dettagli">

        </div>

    </div>

</div>


@section Scripts
{
    <script type="text/javascript">
     
        class Committente {

            constructor(x, y, z, k) {
                this.commessa = x;
                this.nome_commessa = y;
                this.data_ciclo_lavoro = z;
                this.commessa_data_ciclo_lavoro_service = k;
            }
        }

        class Commesse {
            async popolaModale(azienda_anno, nome_azienda) {



                var azAnn = azienda_anno.split('-');

                var azienda = azAnn[0];

                var anno = azAnn[1];

                document.getElementById("modal-header").innerHTML = nome_azienda + " - " + anno;

                const response = await fetch(`/Commesse/CommesseAziendaAnno/?anno=${anno}&azienda=${azienda}`);

                const json = await response.json();

                const tuttiCommittenti = await this.creaTabella(json);
                await this.filterCommesse(tuttiCommittenti);
                await this.dettaglioCommessa();
                modal.style.display = "block";

            }

            creaTabella(json) {



                var tuttiCommittenti = [];
                /* document.getElementById("modal-body").innerHTML = "";
                document.getElementById("modal-body").innerHTML = '<div class="spinner-border" role="status"><span class="visually-hidden"></span></div>'; */

                var table = document.createElement("table");
                table.setAttribute("border", "1");
                var titleRow = document.createElement("tr");

                table.appendChild(titleRow);

                var titoli = ["committente", "nome quadro", "data inserimento"];
                titoli.forEach((i) => {
                    var th = document.createElement("th");
                    th.innerHTML = i;
                    th.classList.add("rowspan_cell_bottom");
                    titleRow.appendChild(th)
                });

                json.forEach((r) => {
                    // // elemento dell'array (class CommessaTable)
                    var arrayQuadri = [];
                    arrayQuadri = r.quadri;

                    for (var i = 0; i < arrayQuadri.length; i++) {
                        var tr = document.createElement("tr");
                        tr.classList.add("commessa-" + r.commessa);
                        tr.classList.add("commessa-riga");

                        if (i == 0) {
                            var tdUnion = document.createElement("td");
                            tdUnion.setAttribute("rowspan", arrayQuadri.length);
                            tdUnion.classList.add("committente");
                            tdUnion.classList.add("backgreen");

                            tdUnion.classList.add("rowspan_cell");

                            tdUnion.setAttribute("committente", r.commessa);
                            tdUnion.innerHTML = r.nome_commessa;
                            tr.appendChild(tdUnion);
                            tr.classList.add("rowspan_cell");
                            /* var optionCommessa = document.createElement("option");
                            optionCommessa.setAttribute("value", r.commessa);
                            optionCommessa.innerHTML = r.nome_commessa;
                            filterCommesse.appendChild(optionCommessa); */

                            var cmm = new Committente(r.commessa, r.nome_commessa, r.data_ciclo_lavoro, r.commessa_data_ciclo_lavoro_service);

                            tuttiCommittenti.push(cmm);
                        }

                        Object.keys(r.quadri[i]).forEach(j => {

                            var td = document.createElement("td");
                            td.innerHTML = r.quadri[i][j];
                            tr.appendChild(td);

                        });

                        if (i == arrayQuadri.length - 1) {
                            tr.classList.add("rowspan_cell_bottom");
                        }

                        table.appendChild(tr);
                    }


                });

                table.classList.add("table");
                table.classList.add("table-striped");
                table.classList.add("table-sm");
                document.getElementById("modal-body").innerHTML = "";
                document.getElementById("modal-body").appendChild(table);

                return tuttiCommittenti;

            }


            filterCommesse(tuttiCommittenti) {

                var filterCommesse = document.getElementById("filter-commesse");
                filterCommesse.innerHTML = "";

                var optionAll = document.createElement("option");
                optionAll.setAttribute("value", "0");
                optionAll.selected = true;
                optionAll.innerHTML = "- - - - TUTTI - - - - -";
                filterCommesse.appendChild(optionAll);


                tuttiCommittenti.sort((a, b) => a.commessa_data_ciclo_lavoro_service.localeCompare(b.commessa_data_ciclo_lavoro_service));

                tuttiCommittenti.forEach((comm) => {
                    var optionCommessa = document.createElement("option");
                    optionCommessa.setAttribute("value", comm.commessa);
                    optionCommessa.innerHTML = comm.nome_commessa + " " + "(" + comm.data_ciclo_lavoro + ")";
                    filterCommesse.appendChild(optionCommessa);
                });


                filterCommesse.addEventListener('change', (i) => {
                    console.log(i.srcElement.value);
                    var commessa_riga = document.getElementsByClassName("commessa-riga");
                    Object.keys(commessa_riga).forEach((j) => {

                        commessa_riga[j].style.display = null;

                        if (i.srcElement.value == "0") {
                            return;

                        }

                        if (commessa_riga[j].classList.contains("commessa-" + i.srcElement.value)) {

                        } else {
                            commessa_riga[j].style.display = 'none';
                        }


                    });
                });

            }


            dettaglioCommessa() {
                var committenteClass = document.getElementsByClassName("committente");
                var myModalDettagli = document.getElementById("myModalDettagli");
                var modalHeaderDettagli = document.getElementById("modal-header-dettagli");
                Object.keys(committenteClass).forEach((i) => {

                    committenteClass[i].addEventListener('click', (c) => {
                        console.log(c.srcElement.getAttribute("committente"));
                        myModalDettagli.style.display = 'block';
                        modalHeaderDettagli.innerHTML = c.srcElement.innerText;
                    });
                });
            }
        }




        var classLinkId = "commesse";

        var commesse = new Commesse();

        var lista_aziende = document.getElementsByClassName("lista-aziende");
        Object.keys(lista_aziende).forEach((i) => {

            var az = lista_aziende[i];
            if (i > 0) {
                az.style.display = 'none';
            }

        });

        var anno_commessa = document.getElementsByClassName("anno_commessa");
        Object.keys(anno_commessa).forEach((i) => {

            anno_commessa[i].addEventListener('click', (i) => {
                var anno = i.currentTarget.id;
                console.log(anno);
                var idTosee = "lista-aziende-anno-" + anno;
                var f = document.getElementById(idTosee);


                switch (f.style.display) {
                    case 'none':
                        f.style.display = 'block';
                        break;

                    case 'block':
                        f.style.display = 'none';
                        break;

                    default:
                        f.style.display = 'block';
                        break
                }

                console.log(f.style.display);
            });
        });

        var azienda_anno = document.getElementsByClassName("azienda_anno");

        var modal = document.getElementById("myModal");
        var spanCommessa = document.getElementById("close-commessa");
        spanCommessa.onclick = function () {
            modal.style.display = "none";
        }



        var myModalDettagli = document.getElementById("myModalDettagli");
        var spanDettagli = document.getElementById("close-dettagli");
        spanDettagli.onclick = function () {
            myModalDettagli.style.display = "none";
        }


        window.onclick = function (event) {
            if (event.target == myModalDettagli) {
                myModalDettagli.style.display = "none";
            }
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        Object.keys(azienda_anno).forEach((i) => {
            azienda_anno[i].addEventListener('click', (j) => {
                console.log(j.currentTarget.id);

                commesse.popolaModale(j.currentTarget.id, j.currentTarget.innerText);

            })
        });





    </script>
}
